@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
	background: #000000;

	font-family: sans-serif;
	color: #FFFFFF;
}

.playarea {
	max-width: calc(100vh * 1.7778);
	display: flex;
	flex-flow: row;
}
.playarea > * {
	flex: 1;
}

.wall {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 10px 10px;
	padding: 10px;
}
.wall.editor {
	grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}
.wall.links {
	flex: 0;
	grid-template-columns: 1fr;
	width: 0px;
	transition: width 2s ease;
}

.wall > div {
	width: 100%;
	height: 100%;

	position: relative;
}
.wall .brick {
	width: 100%;
	height: 100%;

	position: relative;
	top: 0;
	left: 0;
	transition-property: none;
	transition-duration: 1s;
	transition-timing-function: ease;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.brick {
	border-radius: 5px;

	color: #1D3C4C;
	background: #91C3E4;
}

.brick.group0 {
	color: #FFFFFF;
	background: #054872;
}
.brick.group1 {
	color: #FFFFFF;
	background: #097B5A;
}
.brick.group2 {
	color: #FFFFFF;
	background: #572143;
}
.brick.group3 {
	color: #FFFFFF;
	background: #056F7C;
}

.link.group0 {
	border: 2px solid #054872;
}
.link.group1 {
	border: 2px solid #097B5A;
}
.link.group2 {
	border: 2px solid #572143;
}
.link.group3 {
	border: 2px solid #056F7C;
}

.wall.editor input {
	box-sizing: border-box;
	width:100%;
	padding:3px;
	background: transparent;
	border: none;
	outline: none;
	color:#FFFFFF;
}
input[type=button] {
	margin: 10px;
	padding: 5px;
	background: #FFFFFF;
	border-radius: 5px;
	outline: none;
}
textarea {
	margin: 10px;
	width: 800px;
	height: 100px;
	outline: none;
}